/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.edit-link-sm {
  font-size: .6em;
  font-weight: 500;
}

.team-edit-container {
  margin-top: 0px;
  margin-bottom: 30px;
}

.link {
  margin-top: 20px;
  margin-bottom: 30px;
}

.link-edit {
  margin-left: 8px;
  margin-right: 15px;
}

.txt-field {
  margin-left: 20px;
}

.t_name {
  margin-bottom: 30px;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 30px;
  text-wrap: nowrap;
}

.container {
  margin-top: 20px;
}

h1 {
  color: #222;
  font-family: "Roboto";
  margin-top: 1.5em;
}

.team {
  text-decoration: underline;
}

.division {
  font-size: 1.5em;
}

.last {
  margin-bottom: 50px;
}

h1 {
  font-size: 1.8em;
  margin-bottom: 25px;
  margin-top: 15px;
}

.time_stamp {
  font-size: 14px;
  font-weight: normal;
  font-style: italic;
  margin-left: 20px;
  text-align: right;
}

.div_update_link {
  margin-top: 30px;
  margin-bottom: -10px;
}

.nfl-hdr {
  margin-top: 20px;
  margin-bottom: 0px;
}

button:hover {
  color: purple;
  transform: scale(1.1);
}

button {
  color: blue;
  border:none;
  background: none;
  margin: -8px;
  padding: none;
  font-size: 16px;
  margin-bottom: 30px;
}

button:visited {
  color: purple;
}
